<a href="https://colab.research.google.com/github/venkateshnaramula/23CSBTB27-28/blob/main/list_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Part 1 â€“ Implement Basic Data Structures using Numpy, Pandas

In [2]:
import numpy as np
list={1,5,2,6,7}
list1=[3,6,1,8]
print(list)
print(list1)
print(type(list1))
print(type(list))

{1, 2, 5, 6, 7}
[3, 6, 1, 8]
<class 'list'>
<class 'set'>

In [4]:
List = ["Geeks", "For", "Geeks"]
List2="my first lab"
List3=4.3
List4=2j+6
List5='My first lab'
print(type(List2))
print(type(List3))
print(type(List4))
print(type(List5))
print("\nList Items: ")
print(List)
print(type(List))
print(List[0])
print(List[2])

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

List Items:
['Geeks', 'For', 'Geeks']
<class 'list'>
Geeks
Geeks

In [ ]:
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

In [8]:
List = {1:"greek1", 2: 'Geeks', 'For':3, 'Geeks':6}
print("\nList with the use of Mixed Values: ")
print(List)
print(type(List))

List with the use of Mixed Values:
{1: 'greek1', 2: 'Geeks', 'For': 3, 'Geeks': 6}
<class 'dict'>